[submodule "csi_models/bytecover"]
	path = csi_models/bytecover
	url = https://github.com/Orfium/bytecover.git
	branch = master
[submodule "csi_models/CoverHunter"]
	path = csi_models/CoverHunter
	url = https://github.com/Liu-Feng-deeplearning/CoverHunter.git
	branch = main
[submodule "csi_models/remove"]
	path = csi_models/remove
	url = https://github.com/cncPomper/re-move
	branch = master
[submodule "csi_models/lyricover"]
	path = csi_models/lyricover
	url = https://github.com/DawidRucinski/LyriCover.git
	branch = main
