[submodule "models/bytecover"]
	path = models/bytecover
	url = https://github.com/Orfium/bytecover.git
[submodule "models/CoverHunter"]
	path = models/CoverHunter
	url = https://github.com/Liu-Feng-deeplearning/CoverHunter.git
